*{	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
.container{
	display: flex;
}
a{
	color: white;
	text-decoration: none;
}

.menu-desktop .container{
	justify-content: space-around;
	background-color: salmon;
}
li{
	list-style: none;
	padding: 30px;
}
li a{
	font-weight: bolder;
	font-size: 1.3em;
	cursor: pointer;
}
li a:hover{
	color: #424242;
}

/*MENU RESPONSIVE*/
.drop-menu.container{
	flex-direction: column;
}
.menu-responsive{
	background-color: #424242;
}

.menu-title{
	color: white;
	text-decoration: none;
	font-size: 2em;
	cursor: pointer;
	padding: 20px;
}
.menu-title:hover{
	color: #FFBF00;
}
.drop-menu.container a{
	font-size: 1.5em;
	border-top: 2px solid black;
	padding-left: 20px;
	font-family: 'Dosis', sans-serif;
}
.drop-menu.container a:hover{
	color: #FFBF00;
}
.hide{
	display: none;
}
